<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <form  action ="/gp/upload/" method="POST" enctype="multipart/form-data">
        <div class="center">
            <input type="file"  name="p"  multiple ><input type="submit"> 
            
        </div>
        
    </form>
    <form  action ="/gp/uploadd/" >
        <div class="center">
            <input type="text"  name="pp"  ><input type="submit"> 
            
        </div>
        
    </form>

</html>