{% extends 'index.html' %}

{% block content %}



    <form  action ="/gp/upload/" method="POST" enctype="multipart/form-data">
        <div class="center" id="drop-area">
            <label for="essai">ESSAI NON FONCTIONNEL</label><br>
            <input type="file"  id="essai" name="p"  multiple ><input type="submit"> 
            
        </div>
        
    </form>
    <form  action ="/gp/uploadd/" >
        <div class="center">
            <label for="e">shp to geoparquet</label><br>
            <input type="file"  id="e" name="pp"  multiple ><input type="submit"> 
            
        </div>
        
    </form>
    <form  action ="/gp/uploaddd/" >
        <div class="center">
            <label for="h">geojson to geoparquet</label><br>
            <input type="file" id="h" name="ppp"  ><input type="submit"> 
            
        </div>
        
    </form>
    <form  action ="/gp/upload1/" >
        <div class="center">
            <label for="p">csv to geoparquet</label><br>
            <input type="file"  id="p" name="pppp"  ><input type="submit"> 
            
        </div>
        
    </form>
    <form  action ="/gp/upload2/" >
        <div class="center">
            <label for="o">geoparquet to shp</label><br>
            <input type="file"  id="o" name="geop_to_shp"  ><input type="submit"> 
            
        </div>
        
    </form>
    <form  action ="/gp/upload3/" >
        <div class="center">
            <label for="ii">geoparquet to geojson</label><br>
            <input type="file"  id="ii" name="uuu"  ><input type="submit"> 
            
        </div>
        
    </form>
    <form  action ="/gp/upload4/" >
        <div class="center">
            <label for="iii">geoparquet to csv</label><br>
            <input type="file"  id="iii" name="uuui"  ><input type="submit"> 
            
        </div>
        
    </form>

    
    {% endblock %}